services:
  embeddings:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
      tags:
        - quay.io/ktbs/fd-itbs-dms/embeddings:latest
        - quay.io/ktbs/fd-itbs-dms/embeddings:1.0.0
    container_name: embeddings
    ports:
      - '50001:50001'
    environment:
      - http_proxy
      - HTTP_PROXY
      - https_proxy
      - HTTPS_PROXY
      - no_proxy
      - NO_PROXY
    volumes:
      - hugging_face_cache:/root/.cache/huggingface
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: [ '1' ]
              capabilities: [ gpu ]

volumes:
  hugging_face_cache:
